/* Reglas CSS */

/*Medidas como px --> Absolutas */
/*
Medidas Relativas: 1rem= 16px

*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500;900&display=swap');

.body{
    background: #E6E6E6;
}
.blank{
    height: 30px;
}
header div{
    text-align: center;
}
.logo{
    display: ;
    width: 150px;
    height: 146.37px;
    left: 45%;
    top: 20.91px;
}
h1{
    text-align: center;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 84.69%;
    color: #005677;
    background-color:#C4C4C4;
}
h2{
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 84.69%;
    font-feature-settings: 'cpsp' on;
    color: #005677;
    background-color:#C4C4C4;
}

header{
    background: #E6E6E6;
}

footer div{
    text-align: center;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 84.69%;
    color: #FFFFFF;
    background-color: #005677;
}
ol{
    list-style-type: none;
}
span{
    font-weight: bold;
}